.dynamicFormContainer {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

@media (max-width: 900px) {
    .dynamicFormContainer {
        flex-direction: column;
        gap: 50px;
    }
}

.submitButton {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.outputJSON {
    font-size: 24px;
}